textarea.ant-input {
  min-height: 250px !important;
  vertical-align: none;
}

.container-language {
  text-align: center;
  margin: auto;
}

.anticon.ant-input-clear-icon {
  font-size: 20px !important;
}

.input {
  background-color: #3367d6 !important;
  color: white !important;
  border-radius: 30px !important;
  font-size: 20px !important;
}

.container-translate {
  position: relative;
  width: 100%;
}

.output-translate {
  max-width: 100%;
  min-height: 250px !important;
  border: 1px solid #d9d9d9;
}

.btn-submit {
  width: 20%;
  background-color: #3367d6 !important;
  color: white !important;
  font-size: 15px !important;
  text-align: center !important;
  margin-top: 7px !important;
}

.box-history-btn {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.btn-history {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-container {
  margin-top: 50px;
}

.box-history {
  display: block;
  background-color: white;
  border: 1px solid white;
  padding: 10px 25px;
  border-radius: 30px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: text;
}

.box-history .list-history {
  list-style: none;
}

.content-history {
  margin-left: 15px;
  width: 100%;
  position: relative;
  font-size: 16px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.no-margin {
  margin: 0;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 95%;
}
