textarea.ant-input {
  min-height: 250px !important;
  vertical-align: none;
}

.container-language {
  text-align: center;
  margin: auto;
}

.anticon.ant-input-clear-icon {
  font-size: 20px !important;
}

.input {
  background-color: #3367d6 !important;
  color: white !important;
  border-radius: 30px !important;
  font-size: 20px !important;
}

.container-translate {
  position: relative;
  width: 100%;
}

.textarea {
  /* display: inline-block; */
  max-width: 50%;
}

.output-translate {
  /* display: inline-block; */
  max-width: 50%;
  min-height: 250px !important;
  border: 1px solid #d9d9d9;
}
