.login-form {
  margin-left: 450px;
  margin-right: 450px;
}

.login-form-button {
  width: 100%;
  margin-bottom: 10px;
}

.login-form-forgot {
  float: right;
}

@media screen and (max-width: 1430px) {
  .login-form {
    margin-left: 350px;
    margin-right: 350px;
  }
}

@media screen and (max-width: 1300px) {
  .login-form {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .login-form {
    margin-left: 270px;
    margin-right: 270px;
  }
}

@media screen and (max-width: 1000px) {
  .login-form {
    margin-left: 170px;
    margin-right: 170px;
  }
}

@media screen and (max-width: 800px) {
  .login-form {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media screen and (max-width: 600px) {
  .login-form {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 500px) {
  .login-form {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-left: 0px;
    margin-right: 0px;
  }
}
