.login-form {
  width: 500px;
}

.login-form-button {
  width: 100%;
  margin-bottom: 10px;
}

.login-form-forgot {
  float: right;
}

@media screen and (max-width: 750px) {
  .login-form {
    width: 80%;
  }
}
