.logo {
  display: inline-block;
  float: left;
}

.logo-dict {
  width: 65px;
  height: 65px;
  aspect-ratio: auto 65/65;
  vertical-align: middle;
}

.active {
  background-color: rgb(134, 177, 247);
  border-radius: 30px;
}

.unactive {
  background-color: #3367d6;
  border-radius: 30px;
}

.btn-default {
  display: inline-block;
  float: right;
  vertical-align: middle;
  border-radius: 30px;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.ant-layout-header {
  text-align: center;
}

#header {
  background-color: #3367d6 !important;
  height: 65px;
  top: 0;
  left: 0;
  right: 0;
}

.header-content-default {
  max-width: 1200px;
  margin: auto;
}

.menu {
  display: inline-block;
  background-color: #3367d6 !important;
  color: #fff !important;
}

.site-layout .site-layout-background {
  background: #fff;
}
