* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mga {
  margin: auto;
}

.mg-1 {
  margin: 1px;
}

.mg-5 {
  margin: 5px;
}

.mg-20 {
  margin: 20px;
}

.mgl-20 {
  margin-left: 20px;
}

.mgl-10 {
  margin-left: 10px;
}

.cl-blue {
  color: #3367d6;
}

.site-layout-background {
  min-height: 1000px;
  padding: 24px;
  margin-top: 54px;
}

.container {
  margin: 25px 100px;
}

.title {
  margin: auto;
  text-transform: uppercase;
  text-align: center;
}

.btn-default {
  border-radius: 30px !important;
}

.title-comm {
  color: #fff;
  font-size: 18px;
  position: relative;
  margin-bottom: 30px;
  font-weight: 700;
  background-color: #fff;
  text-align: center;
}
/* h3.title-comm:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 0;
  border-top: 2px solid #d0d2d3;
  z-index: 1;
  display: block;
} */
.title-comm .title-holder {
  min-width: 350px;
  height: 45px;
  background-color: #56bbe7;
  height: auto;
  line-height: 45px;
  padding: 0px 20px;
  position: relative;
  text-align: center;
  display: inline-block;
  min-width: 280px;
}
.title-holder:before {
  content: "";
  position: absolute;
  right: -15px;
  border-width: 0px;
  bottom: 0px;
  border-style: solid;
  border-color: #5c9efe transparent;
  display: block;
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 15px solid #56bbe7;
}
.title-holder:after {
  content: "";
  position: absolute;
  left: -15px;
  border-width: 0px;
  bottom: 0px;
  border-style: solid;
  border-color: #5c9efe transparent;
  display: block;
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-bottom: 22px solid transparent;
  border-right: 15px solid #56bbe7;
}

@media screen and (max-width: 1150px) {
  .site-layout-background {
    min-height: 700px;
  }

  .container {
    margin: 20px 20px;
  }

  .title {
    font-size: 14px;
  }
}
