.search-form .select {
  text-align: center;
  display: inline-block;
  position: relative;
}

.container-search {
  /* margin: auto; */
}

.container-output {
  margin-top: 20px;
  min-height: 900px;
  border-top: 1px double #ccc;
  text-align: center;
}

.ant-select {
  /* height: 50px; */
}

.search {
  max-width: 900px;
  height: 50px !important;
}
